/.project
*.pro.user*
CMakeLists.txt.user*
FabScanArduinoFirmware/*.hex

../.idea/
.idea/
.make.cache
.qmake.cache
.qmake.vars

*.swp
*~
*.a
*.la
*.lib
*.moc
*.o
*.obj
*.orig
*.temp
*.so
*.core
.DS_Store
.svn
*.qm
*.hex
*.elf

# Build targets:
/**/*-build/
build/
